type project
licenseUrl http://opensource.org/licenses/MIT
projectUrl https://github.com/jkone27/xdiff
iconUrl https://raw.githubusercontent.com/jkone27/xdiff/master/Pics/xmlico.png
authors jkone27
description simple xml diff library
dependencies
    System.Data.Linq ~> LOCKEDVERSION
files
    bin\Release\XDiff.dll ==> lib\net46
    bin\Release\XDiff.pdb ==> lib\net46
